.connector {
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  border: 2px solid red;
  border-radius: 50%
}

.connector.left {
  left: 0;
  transform: translate(-50%, -50%);
}

.connector.right {
  right: 0;
  transform: translate(50%, -50%);
}